{% extends 'common/base.html' %}
{% block content %}
<div class="container my-3">
    <h2 class="border-bottom py-2" >ALL Acounts</h2>
    {% if account_list %}
    {% for account in account_list%}
        
        <div class="card my-3">
        <div class="card-body" s> 
        {% for key,value in account.items %}
            {% if key == 'attributes' %}
                {# 'attributes' 키는 건너뜁니다 #}
            {% else %}
                {% if key == 'Id' %}
                    <a href="{% url 'app:account_detail' account_id=value %}" class="btn" style="margin-bottom: 10px;">Detail</a><br>
                {% endif %}
                <p style="display: inline-block; width: 70px; margin-right:20px;">{{ key }} :</p>
                <p style="display: inline-block; margin: 0;">{{ value }}</p>
                <br>
            {% endif %}
        {% endfor %}
        </div>
        </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}