
{% extends 'common/base.html' %}
{% block content %}

<form action ="{% url 'app:leadcreate'%}" method="POST" u>
    {% csrf_token %}

    <div class="container my-3">
        <h2 class="border-bottom py-2" >Create Lead</h2>

        <div class="card my-3">
            <div class="card-body">
                <label for="first_name" class="card-text" style="width:100px;">First Name</label>
                <input id="first_name" maxlength="40" name="FirstName" size="20" type="text" /><br>
            </div>
        </div>
    
    
    <div class="card my-3">
        <div class="card-body">
            <label for="last_name" style="width:100px;">Last Name</label>
            <input id="last_name" maxlength="80" name="LastName" size="20" type="text" /><br>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <label for="company" style="width:100px;">Company</label>
            <input id="company" maxlength="40" name="Company" size="20" type="text" /><br>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <label for="phone" style="width:100px;">Phone</label>
            <input id="phone" maxlength="40" name="Phone" size="20" type="text" /><br>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <label for="email" style="width:100px;">Email</label>
            <input id="email" maxlength="40" name="Email" size="20" type="text" /><br>  
        </div>
    </div>

    <input type="submit" value="Create Lead" />
</div>

</form>

{% endblock %}